.about-section {
  padding-bottom: 80px;

  @include media(desktop) {
    padding-bottom: 150px;
  }
}

.about-container {
  padding-left: 0;
  padding-right: 0;

  @include media(desktop) {
    padding-left: 80px;
    padding-right: 80px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
}

.about-bg-img {
  margin-bottom: 22px;

  @include media(desktop) {
    margin-bottom: 0;
  }
}

.about-content-wrapper {
  padding-left: 20px;
  padding-right: 20px;

  @include media(desktop) {
    padding-left: 0;
    padding-right: 0;
    max-width: 630px;
  }
}

.about-text {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #f5f2eb;
  word-break: break-word;

  @include media(desktop) {
    margin-bottom: 20px;
  }
}

.about-span {
  font-weight: 700;
  color: #78e4fa;
}

.about-img {
  display: none;

  @include media(desktop) {
    display: block;
  }
}
