.benefits-section {
  padding-bottom: 88px;
  scroll-margin-top: 70px;

  @include media(desktop) {
    scroll-margin-top: 60px;
    padding-bottom: 130px;
  }
}

.benefits-section-wrapper {
  padding-top: 62px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;

  @include media(desktop) {
    padding-top: 64px;
    max-width: 1440px;
  }
}

.benefits-container {
  padding-left: 0;
  padding-right: 0;
}

.benefits-swiper-container {
  max-width: 298px;
  margin-left: auto;
  margin-right: auto;
  visibility: hidden;

  @include media(desktop) {
    max-width: 1440px;
  }
}

.benefits-swiper-container.show {
  visibility: visible;
}

.benefits-slide {
  padding: 0;
  max-width: 298px;
}

.benefits-picture-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.benefits-subtitle {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.33333;
  text-transform: uppercase;
  color: #8cfdff;
  margin-bottom: 8px;
}

.benefits-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  color: #fff;
  word-break: break-word;
}
