.faq-section {
  padding-bottom: 88px;
  scroll-margin-top: 70px;

  @include media(desktop) {
    scroll-margin-top: 60px;
    padding-bottom: 120px;
  }
}

.faq-section-wrapper {
  padding-top: 27px;

  @include media(desktop) {
    padding-top: 30px;
  }
}

.faq-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.faq-list-item {
  background: #fff;
  display: flex;
  flex-direction: column;
  border: 2px solid #615cb4;
  border-radius: 20px;
  padding: 20px 24px;
  overflow: hidden;
  width: 100%;
  transition: all 0.3s ease-in-out;
}

.faq-top-text-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.faq-toggle-symbol {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease-in-out;
}

.faq-btn-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.33333;
  color: #362d6e;
  text-align: left;

  @include media(desktop) {
    font-weight: 600;
    font-size: 32px;
    line-height: 1.125;
  }
}

.faq-bottom-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  color: #131d1c;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  opacity: 0;

  @include media(desktop) {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.33333;
  }
}

.is-visible {
  margin-top: 12px;
  max-height: 120px;
  opacity: 1;

  @include media(desktop) {
    max-height: 32px;
  }
}

.faq-list-item.faq-open .faq-toggle-symbol {
  transform: rotate(180deg);
}
