.header {
  background: #362d6e;
  padding-top: 24px;
  padding-bottom: 24px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;

  @include media(desktop) {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include media(desktop) {
    justify-content: center;
  }
}

.header-logo-link {
  font-family: 'Gabarito', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  color: #fff;

  @include media(desktop) {
    display: none;
  }
}

.nav-list {
  display: none;

  @include media(desktop) {
    display: flex;
    align-items: center;
    gap: 48px;
  }
}

.nav-list-link {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: #fcce00;
  transition: all 0.3s ease-in-out;

  &:hover,
  &.active {
    font-weight: 800;
    font-size: 20px;
    line-height: 1.2;
    color: #fff;
    text-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.25);
  }
}

.nav-list-link.active {
  font-weight: 800;
  font-size: 20px;
  line-height: 1.2;
  color: #fff;
  text-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.25);
}

.nav-btn {
  background-color: transparent;
  width: 24px;
  height: 24px;

  @include media(desktop) {
    display: none;
  }
}

.close-btn {
  display: none;
  background-color: transparent;
  width: 24px;
  height: 24px;

  @include media(desktop) {
    display: none;
  }
}
