.hero-section {
  padding-top: 100px;
  padding-bottom: 536px;
  background-image: url(../img/hero/hero-cat-mob.png),
    url(../img/hero/hero-bg-mob.jpg);
  background-repeat: no-repeat, no-repeat;
  background-position: bottom 80px center, top center;
  background-size: auto, auto;

  @include media(desktop) {
    padding-top: 126px;
    padding-bottom: 591px;
    background-image: url(../img/hero/hero-steps-desk.png),
      url(../img/hero/hero-bg-desk.jpg);
    background-position: bottom 150px right 81px, top center;
    max-width: 1440px;
    margin: 0 auto;
  }
}
