.reviews-section {
  padding-bottom: 80px;

  @include media(desktop) {
    padding-bottom: 150px;
  }
}

.reviews-title {
  margin-bottom: 0;
}

.reviews-section-wrapper {
  padding-top: 107.5px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;

  @include media(desktop) {
    padding-top: 113.5px;
    max-width: 1440px;
  }
}

.reviews-container {
  padding-left: 0;
  padding-right: 0;

  @include media(desktop) {
    padding-left: 80px;
    padding-right: 80px;
  }
}

.reviews-swiper-container {
  max-width: 305px;
  margin-left: auto;
  margin-right: auto;
  visibility: hidden;

  @include media(desktop) {
    max-width: 1440px;
  }
}

.reviews-swiper-container.show {
  visibility: visible;
}

.reviews-slide {
  padding: 0;
  max-width: 305px;
  border-radius: 12px;
  padding: 92px 22px 48px 22px;
  background: #828183;
  height: 257px !important;
  position: relative;
}

.reviews-subtitle {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  color: #ff9735;
  margin-bottom: 22px;
}

.reviews-text {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #f5f2eb;
}

.reviews-picture-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -80.5px;
  left: 0;
  right: 0;
}
