.uniqueness-section {
  padding-bottom: 80px;

  @include media(desktop) {
    padding-bottom: 150px;
  }
}

.uniqueness-container {
  padding-left: 0;
  padding-right: 0;

  @include media(desktop) {
    padding-left: 80px;
    padding-right: 80px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 20px;
    position: relative;
  }
}

.uniqueness-bg-img {
  margin-bottom: 22px;

  @include media(desktop) {
    margin-bottom: 0;
  }
}

.uniqueness-content-wrapper {
  padding-left: 20px;
  padding-right: 20px;

  @include media(desktop) {
    padding-left: 0;
    padding-right: 0;
  }
}

.uniqueness-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;

  @include media(desktop) {
    align-items: start;
    max-width: 413px;
  }
}

.uniqueness-list-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.uniqueness-item-text {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #f5f2eb;
}

.uniqueness-cat-img {
  display: none;

  @include media(desktop) {
    display: block;
    position: absolute;
    bottom: 0;
    right: 94px;
  }
}
