<section class="section about-section" id="about">
  <h2 class="section-title about-title">About the Game</h2>
  <div class="container about-container">
    <picture>
      <source
        srcset="./img/about/about-bg-desk.png"
        media="(min-width: 1440px)"
        width="630"
        height="356"
      />
      <source srcset="./img/about/about-bg-mob.png" width="375" height="212" />
      <img
        class="about-bg-img"
        src="./img/about/about-bg-mob.png"
        alt="Screenshot of the game"
        width="375"
        height="212"
      />
    </picture>
    <div class="about-content-wrapper">
      <p class="about-text">
        Welcome to <span class="about-span">Triple Hidden Match</span>, where
        sharp observation meets clever matching! Explore intricate scenes,
        uncover hidden objects, and match triples to clear the board. With
        relaxing visuals and brain-boosting gameplay, every round is an exciting
        hunt for hidden treasures.
      </p>
      <img
        class="about-img"
        src="./img/about/about-img-desk.png"
        alt="Screenshot of the game"
        width="630"
        height="249"
      />
    </div>
  </div>
</section>
