<section class="about-section" id="about">
  <div class="section-title-wrapper">
    <h2 class="section-title">About</h2>
  </div>
  <div class="about-section-wrapper">
    <div class="container about-container">
      <picture>
        <source
          srcset="./img/about/about-img-desk.png"
          media="(min-width: 1440px)"
          width="727"
          height="440"
        />
        <source
          srcset="./img/about/about-img-mob.png"
          width="343"
          height="208"
        />
        <img
          class="about-img"
          src="./img/about/about-img-mob.png"
          alt="Screenshot of the game"
          width="343"
          height="208"
          loading="lazy"
        />
      </picture>
      <p class="about-text">
        Tinkle Crush - Match 3 RPG is a colorful and dynamic puzzle RPG where
        players match gems to unleash attacks and conquer fantasy enemies.
        Developed by twinklematch.com, this game features strategic hero
        building, magical battles, and hundreds of challenging levels.<br />
        Whether you're a fan of puzzles or RPGs, Tinkle Crush brings a perfect
        mix of both genres into one epic experience.
      </p>
    </div>
  </div>
</section>
