<section id="cookie-banner" class="cookie-banner-section">
  <div class="cookie-picture-wrapper">
    <svg class="cookie-icon" width="64" height="64">
      <use href="./img/sprite.svg#icon-cookies"></use>
    </svg>
  </div>
  <p class="cookie-banner-text">
    We use cookies to improve your experience on our website. By browsing this
    website, you agree to our use of cookies.
  </p>
  <div class="cookie-banner-buttons">
    <button class="cookie-accept-btn" id="cookie-accept">Accept cookies</button>
    <button class="cookie-decline-btn" id="cookie-decline">Decline</button>
  </div>
  <button
    class="cookie-close-btn"
    id="cookie-close-btn"
    aria-label="Close cookie banner"
  >
    <svg class="cookie-close-icon" width="14" height="14">
      <use href="./img/sprite.svg#icon-cross"></use>
    </svg>
  </button>
</section>
