<section class="benefits-section" id="benefits">
  <div class="section-title-wrapper">
    <h2 class="section-title">Benefits</h2>
  </div>
  <div class="benefits-section-wrapper">
    <div class="container benefits-container">
      <div class="benefits-swiper-container">
        <ul class="swiper-wrapper benefits-swiper-wrapper">
          <li class="swiper-slide benefits-slide">
            <div class="benefits-picture-wrapper">
              <img
                src="./img/benefits/benefits-img1.png"
                alt="Benefits picture"
                width="298"
                height="338"
                loading="lazy"
              />
            </div>
            <h2 class="benefits-subtitle">Strategic Combat</h2>
            <p class="benefits-text">
              Match 3 or more gems to charge hero attacks.
            </p>
          </li>
          <li class="swiper-slide benefits-slide">
            <div class="benefits-picture-wrapper">
              <img
                src="./img/benefits/benefits-img2.png"
                alt="Benefits picture"
                width="298"
                height="338"
                loading="lazy"
              />
            </div>
            <h2 class="benefits-subtitle">Colorful Worlds</h2>
            <p class="benefits-text">
              Explore beautifully designed fantasy stages.
            </p>
          </li>
          <li class="swiper-slide benefits-slide">
            <div class="benefits-picture-wrapper">
              <img
                src="./img/benefits/benefits-img3.png"
                alt="Benefits picture"
                width="298"
                height="338"
                loading="lazy"
              />
            </div>
            <h2 class="benefits-subtitle">RPG Mechanics</h2>
            <p class="benefits-text">
              Build a team of heroes, each with unique powers.
            </p>
          </li>
          <li class="swiper-slide benefits-slide">
            <div class="benefits-picture-wrapper">
              <img
                src="./img/benefits/benefits-img4.png"
                alt="Benefits picture"
                width="298"
                height="338"
                loading="lazy"
              />
            </div>
            <h2 class="benefits-subtitle">Offline Friendly</h2>
            <p class="benefits-text">
              Play anywhere, even without a connection.
            </p>
          </li>
          <li class="swiper-slide benefits-slide">
            <div class="benefits-picture-wrapper">
              <img
                src="./img/benefits/benefits-img5.png"
                alt="Benefits picture"
                width="298"
                height="338"
                loading="lazy"
              />
            </div>
            <h2 class="benefits-subtitle">Hero Upgrades</h2>
            <p class="benefits-text">
              Level up your team and unlock special abilities.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
