<section class="faq-section" id="faq">
  <div class="section-title-wrapper">
    <h2 class="section-title">FAQ</h2>
  </div>
  <div class="faq-section-wrapper">
    <div class="container faq-container">
      <ul class="faq-list">
        <li class="faq-list-item">
          <button class="faq-top-text-btn">
            <span class="faq-btn-text">Is Tinkle Crush free to play?</span>
            <span class="faq-toggle-symbol"
              ><svg class="faq-icon" width="48" height="48">
                <use href="./img/sprite.svg#icon-arrow-up"></use></svg
            ></span>
          </button>
          <p class="faq-bottom-text">
            Yes! The game is free to download and play with optional in-app
            purchases.
          </p>
        </li>
        <li class="faq-list-item">
          <button class="faq-top-text-btn">
            <span class="faq-btn-text">Do I need an internet connection?</span>
            <span class="faq-toggle-symbol"
              ><svg class="faq-icon" width="48" height="48">
                <use href="./img/sprite.svg#icon-arrow-up"></use></svg
            ></span>
          </button>
          <p class="faq-bottom-text">No, Tinkle Crush can be played offline.</p>
        </li>
        <li class="faq-list-item">
          <button class="faq-top-text-btn">
            <span class="faq-btn-text">How do I unlock new heroes?</span>
            <span class="faq-toggle-symbol"
              ><svg class="faq-icon" width="48" height="48">
                <use href="./img/sprite.svg#icon-arrow-up"></use></svg
            ></span>
          </button>
          <p class="faq-bottom-text">
            New heroes can be collected via level progression, events, or
            summoning chests.
          </p>
        </li>
        <li class="faq-list-item">
          <button class="faq-top-text-btn">
            <span class="faq-btn-text">Is this game kid-friendly?</span>
            <span class="faq-toggle-symbol"
              ><svg class="faq-icon" width="48" height="48">
                <use href="./img/sprite.svg#icon-arrow-up"></use></svg
            ></span>
          </button>
          <p class="faq-bottom-text">
            Yes, the visuals and gameplay are safe and suitable for all ages.
          </p>
        </li>
        <li class="faq-list-item">
          <button class="faq-top-text-btn">
            <span class="faq-btn-text">Are new levels added regularly?</span>
            <span class="faq-toggle-symbol"
              ><svg class="faq-icon" width="48" height="48">
                <use href="./img/sprite.svg#icon-arrow-up"></use></svg
            ></span>
          </button>
          <p class="faq-bottom-text">
            Yes, new stages, heroes, and events are released through frequent
            updates.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
