<section class="features-section" id="features">
  <div class="section-title-wrapper">
    <h2 class="section-title">Feature Keys</h2>
  </div>
  <div class="features-section-wrapper">
    <div class="container features-container">
      <div class="features-swiper-container">
        <ul class="swiper-wrapper features-swiper-wrapper">
          <li class="swiper-slide features-slide">
            <h2 class="features-subtitle">
              Match-3 Puzzle<br />
              Meets RPG
            </h2>
            <p class="features-text">
              Classic puzzle gameplay blended with RPG battles.
            </p>
            <div class="features-picture-wrapper">
              <img
                src="./img/features/features-img1.png"
                alt="Features picture"
                width="266"
                height="166"
                loading="lazy"
              />
            </div>
          </li>
          <li class="swiper-slide features-slide">
            <h2 class="features-subtitle">Collect & Upgrade Heroes</h2>
            <p class="features-text">
              Build your dream squad of magical warriors.
            </p>
            <div class="features-picture-wrapper">
              <img
                src="./img/features/features-img2.png"
                alt="Features picture"
                width="266"
                height="166"
                loading="lazy"
              />
            </div>
          </li>
          <li class="swiper-slide features-slide">
            <h2 class="features-subtitle">Powerful Combos & Skills</h2>
            <p class="features-text">
              Trigger special moves and devastating combos
            </p>
            <div class="features-picture-wrapper">
              <img
                src="./img/features/features-img3.png"
                alt="Features picture"
                width="266"
                height="166"
                loading="lazy"
              />
            </div>
          </li>
          <li class="swiper-slide features-slide">
            <h2 class="features-subtitle">
              Fantasy<br />
              Environments
            </h2>
            <p class="features-text">
              Fight across forests, caves, and magical towers.
            </p>
            <div class="features-picture-wrapper">
              <img
                src="./img/features/features-img4.png"
                alt="Features picture"
                width="266"
                height="166"
                loading="lazy"
              />
            </div>
          </li>
          <li class="swiper-slide features-slide">
            <h2 class="features-subtitle">
              Free to<br />
              Play
            </h2>
            <p class="features-text">
              Enjoy the game without needing to pay to progress.
            </p>
            <div class="features-picture-wrapper">
              <img
                src="./img/features/features-img5.png"
                alt="Features picture"
                width="266"
                height="166"
                loading="lazy"
              />
            </div>
          </li>
        </ul>
      </div>
      <div class="controls">
        <button
          class="arrow-btn"
          id="featuresLeftArrow"
          aria-label="Previous slide"
        >
          <svg class="arrow-icon" width="32" height="32">
            <use href="./img/sprite.svg#icon-left-arrow"></use>
          </svg>
        </button>
        <button
          class="arrow-btn"
          id="featuresRightArrow"
          aria-label="Next slide"
        >
          <svg class="arrow-icon" width="32" height="32">
            <use href="./img/sprite.svg#icon-right-arrow"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
