<section class="section features-section" id="features">
  <h2 class="section-title">Game Features</h2>
  <div class="features-section-wrapper">
    <div class="container features-container">
      <div class="features-swiper-container">
        <ul class="swiper-wrapper features-swiper-wrapper">
          <li class="swiper-slide features-slide">
            <div class="features-picture-wrapper">
              <img
                src="./img/features/features-img1.png"
                alt="Features picture"
                width="98"
                height="103"
                loading="lazy"
              />
            </div>
            <h3 class="features-subtitle">Hidden Object Matching</h3>
            <p class="features-text">
              Spot and match three identical items across beautifully detailed
              scenes.
            </p>
          </li>
          <li class="swiper-slide features-slide">
            <div class="features-picture-wrapper">
              <img
                src="./img/features/features-img2.png"
                alt="Features picture"
                width="98"
                height="103"
                loading="lazy"
              />
            </div>
            <h3 class="features-subtitle">Brain-Training Fun</h3>
            <p class="features-text">
              Strengthen focus, memory, and pattern recognition.
            </p>
          </li>
          <li class="swiper-slide features-slide">
            <div class="features-picture-wrapper">
              <img
                src="./img/features/features-img3.png"
                alt="Features picture"
                width="98"
                height="103"
                loading="lazy"
              />
            </div>
            <h3 class="features-subtitle">Variety of Levels</h3>
            <p class="features-text">
              From cozy rooms to magical landscapes, each level brings a new
              challenge.
            </p>
          </li>
          <li class="swiper-slide features-slide">
            <div class="features-picture-wrapper">
              <img
                src="./img/features/features-img4.png"
                alt="Features picture"
                width="98"
                height="103"
                loading="lazy"
              />
            </div>
            <h3 class="features-subtitle">Timed Challenges</h3>
            <p class="features-text">
              Beat the clock or relax in endless play mode.
            </p>
          </li>
          <li class="swiper-slide features-slide">
            <div class="features-picture-wrapper">
              <img
                src="./img/features/features-img5.png"
                alt="Features picture"
                width="98"
                height="103"
                loading="lazy"
              />
            </div>
            <h3 class="features-subtitle">Upgradable Power-ups</h3>
            <p class="features-text">
              Use helpful hints and time boosters when you’re stuck.
            </p>
          </li>
          <li class="swiper-slide features-slide">
            <div class="features-picture-wrapper">
              <img
                src="./img/features/features-img6.png"
                alt="Features picture"
                width="98"
                height="103"
                loading="lazy"
              />
            </div>
            <h3 class="features-subtitle">Creative Relaxation</h3>
            <p class="features-text">
              Enjoy the relaxing joy of revealing art and matching in a cozy,
              mindful atmosphere.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
