<section class="gallery-section" id="gallery">
  <div class="section-title-wrapper">
    <h2 class="section-title">Gallery</h2>
  </div>
  <div class="gallery-section-wrapper">
    <div class="container gallery-container">
      <ul class="gallery-list">
        <li class="gallery-list-item">
          <picture>
            <source
              srcset="./img/gallery/gallery-img1-desk.png"
              media="(min-width: 1440px)"
              width="298"
              height="440"
            />
            <source
              srcset="./img/gallery/gallery-img1-mob.png"
              width="343"
              height="440"
            />
            <img
              class="gallery-img"
              src="./img/gallery/gallery-img1-mob.png"
              alt="Screenshot of the game"
              width="343"
              height="440"
              loading="lazy"
            />
          </picture>
          <p class="gallery-item-text">Match to Attack</p>
        </li>
        <li class="gallery-list-item">
          <picture>
            <source
              srcset="./img/gallery/gallery-img2-desk.png"
              media="(min-width: 1440px)"
              width="298"
              height="440"
            />
            <source
              srcset="./img/gallery/gallery-img2-mob.png"
              width="343"
              height="440"
            />
            <img
              class="gallery-img"
              src="./img/gallery/gallery-img2-mob.png"
              alt="Screenshot of the game"
              width="343"
              height="440"
              loading="lazy"
            />
          </picture>
          <p class="gallery-item-text">Collect Epic Heroes</p>
        </li>
        <li class="gallery-list-item">
          <picture>
            <source
              srcset="./img/gallery/gallery-img3-desk.png"
              media="(min-width: 1440px)"
              width="298"
              height="440"
            />
            <source
              srcset="./img/gallery/gallery-img3-mob.png"
              width="343"
              height="440"
            />
            <img
              class="gallery-img"
              src="./img/gallery/gallery-img3-mob.png"
              alt="Screenshot of the game"
              width="343"
              height="440"
              loading="lazy"
            />
          </picture>
          <p class="gallery-item-text">Explore Fantasy Lands</p>
        </li>
        <li class="gallery-list-item">
          <picture>
            <source
              srcset="./img/gallery/gallery-img4-desk.png"
              media="(min-width: 1440px)"
              width="298"
              height="440"
            />
            <source
              srcset="./img/gallery/gallery-img4-mob.png"
              width="343"
              height="440"
            />
            <img
              class="gallery-img"
              src="./img/gallery/gallery-img4-mob.png"
              alt="Screenshot of the game"
              width="343"
              height="440"
              loading="lazy"
            />
          </picture>
          <p class="gallery-item-text">Strategic Puzzle Battles</p>
        </li>
      </ul>
    </div>
  </div>
</section>
