<section class="section hero-section" id="home">
  <div class="container hero-container">
    <picture>
      <source
        srcset="./img/hero/hero-title-desk.png"
        media="(min-width: 1440px)"
        width="507"
        height="369"
      />
      <source srcset="./img/hero/hero-title-mob.png" width="335" height="244" />
      <img
        class="hero-title-img"
        src="./img/hero/hero-title-mob.png"
        alt="Title"
        width="335"
        height="244"
      />
    </picture>
  </div>
</section>
