<div class="context-menu">
  <nav class="context-nav">
    <ul class="context-nav-list">
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html">Home</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#about"
          >About the Game</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#features"
          >Game Features</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#uniqueness"
          >Our Uniqueness</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#works">How It Works</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#reviews"
          >User Reviews</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#gallery">Gallery</a>
      </li>
    </ul>
  </nav>
</div>
