<section class="play-section" id="play">
  <div class="section-title-wrapper">
    <h2 class="section-title">How to play</h2>
  </div>
  <div class="play-section-wrapper">
    <div class="container play-container">
      <div class="play-top-item-wrapper">
        <h3 class="play-item-title">Match Gems</h3>
        <p class="play-item-text">
          Combine 3 or more of the same color to activate attacks.
        </p>
        <picture>
          <source
            srcset="./img/play/play-img-desk.png"
            media="(min-width: 1440px)"
            width="270"
            height="270"
          />
          <source
            srcset="./img/play/play-img-mob.png"
            width="250"
            height="250"
          />
          <img
            class="play-img"
            src="./img/play/play-img-mob.png"
            alt="Screenshot of the game"
            width="250"
            height="250"
            loading="lazy"
          />
        </picture>
      </div>
      <div class="play-list-wrapper">
        <div class="play-list-item">
          <h3 class="play-item-title">
            Charge Your<br />
            Heroes
          </h3>
          <p class="play-item-text">
            Matching fills your heroes’ power meters.
          </p>
        </div>
        <div class="play-list-item">
          <h3 class="play-item-title">
            Unleash<br />
            Skills
          </h3>
          <p class="play-item-text">
            Trigger each hero’s unique special game move
          </p>
        </div>
        <div class="play-list-item">
          <h3 class="play-item-title">
            Defeat<br />
            Enemies
          </h3>
          <p class="play-item-text">
            Solve puzzles to beat monsters and bosses.
          </p>
        </div>
        <div class="play-list-item">
          <h3 class="play-item-title">
            Level<br />
            Up
          </h3>
          <p class="play-item-text">
            Earn rewards and strengthen your team with upgrades
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
