<section class="section uniqueness-section" id="uniqueness">
  <h2 class="section-title uniqueness-title">Our Uniqueness</h2>
  <div class="container uniqueness-container">
    <picture>
      <source
        srcset="./img/uniqueness/uniqueness-bg-desk.png"
        media="(min-width: 1440px)"
        width="630"
        height="356"
      />
      <source
        srcset="./img/uniqueness/uniqueness-bg-mob.png"
        width="375"
        height="212"
      />
      <img
        class="uniqueness-bg-img"
        src="./img/uniqueness/uniqueness-bg-mob.png"
        alt="Screenshot of the game"
        width="375"
        height="212"
      />
    </picture>
    <div class="uniqueness-content-wrapper">
      <ul class="uniqueness-list">
        <li class="uniqueness-list-item">
          <img
            class="uniqueness-magnifier-img"
            src="./img/uniqueness/uniqueness-magnifier.png"
            alt="Magnifier"
            width="37"
            height="47"
          />
          <p class="uniqueness-item-text">
            Triple matching combined with hidden object gameplay — a fresh and
            addictive twist!
          </p>
        </li>
        <li class="uniqueness-list-item">
          <img
            class="uniqueness-magnifier-img"
            src="./img/uniqueness/uniqueness-magnifier.png"
            alt="Magnifier"
            width="37"
            height="47"
          />
          <p class="uniqueness-item-text">
            Stress-free or challenge modes to suit any play style.
          </p>
        </li>
        <li class="uniqueness-list-item">
          <img
            class="uniqueness-magnifier-img"
            src="./img/uniqueness/uniqueness-magnifier.png"
            alt="Magnifier"
            width="37"
            height="47"
          />
          <p class="uniqueness-item-text">
            Lightweight game, perfect for quick play sessions anytime.
          </p>
        </li>
        <li class="uniqueness-list-item">
          <img
            class="uniqueness-magnifier-img"
            src="./img/uniqueness/uniqueness-magnifier.png"
            alt="Magnifier"
            width="37"
            height="47"
          />
          <p class="uniqueness-item-text">
            Designed to entertain and exercise your brain without pressure.
          </p>
        </li>
        <li class="uniqueness-list-item">
          <img
            class="uniqueness-magnifier-img"
            src="./img/uniqueness/uniqueness-magnifier.png"
            alt="Magnifier"
            width="37"
            height="47"
          />
          <p class="uniqueness-item-text">
            Gorgeous hand-drawn scenes full of surprises.
          </p>
        </li>
      </ul>
      <img
        class="uniqueness-cat-img"
        src="./img/uniqueness/uniqueness-cat-desk.png"
        alt="Cat"
        width="154"
        height="201"
      />
    </div>
  </div>
</section>
