<section class="section works-section" id="works">
  <h2 class="section-title works-title">How It Works</h2>
  <div class="container works-container">
    <picture>
      <source
        srcset="./img/works/works-cat-desk.png"
        media="(min-width: 1440px)"
        width="630"
        height="468"
      />
      <source srcset="./img/works/works-cat-mob.png" width="375" height="279" />
      <img
        class="works-bg-img"
        src="./img/works/works-cat-mob.png"
        alt="Screenshot of the game"
        width="375"
        height="279"
      />
    </picture>
    <div class="works-content-wrapper">
      <ul class="works-list">
        <li class="works-list-item">
          <p class="works-item-text">Search the scene for identical objects.</p>
        </li>
        <li class="works-list-item">
          <p class="works-item-text">
            Select three matching items to remove them from the board.
          </p>
        </li>
        <li class="works-list-item">
          <p class="works-item-text">Use boosters to reveal tricky matches.</p>
        </li>
        <li class="works-list-item">
          <p class="works-item-text">
            Clear the board to win and advance to the next beautifully crafted
            level!
          </p>
        </li>
      </ul>
      <img
        class="works-big-steps-img"
        src="./img/works/works-big-steps.png"
        alt="Cat steps"
        width="256"
        height="116"
      />
      <img
        class="works-small-steps-img"
        src="./img/works/works-small-steps.png"
        alt="Cat steps"
        width="146"
        height="66"
      />
    </div>
  </div>
</section>
